/*
Theme Name: Lorvens asset
Theme URI: http://www.konnectplugins.com/lorvens/site
Author: KonnectCode
Author URI: https://themeforest.net/user/konnectcode
*/

/*--------------------------------------------------------------
 TABLE OF CONTENTS:
 =================
+ Imported CSS
+ General
+ Login and sign up
+ Tables
+ Icons
+ Loader
+ Color Switcher
+ Sidebar
+ Key Frames
+ Maps
+ Charts
+ Top Navigation
+ Modal Popup
+ Widget Boxs
+ Cards
+ Tabs
+ Buttons
+ Progress Bar
+ Form Elements
+ Typography
+ Accordion
+ Pagination
+ FAQ
----------------------------------------------------------------*/

/*=======================
 		Imported CSS
====================== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:100,400,700,900');


/*=======================
 		General
====================== */

body {
	font-family: 'Open Sans', sans-serif;
	background: #fafafa;
	color: #3e5569;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
#sidebar {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}

p {
	font-size: 1em;
	line-height: 1.7em;
	color: #666;
	letter-spacing: .3px;
}

a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.color-yellow {
	color: rgba(253, 165, 31, 1);
}

.color-green {
	color: rgba(134, 196, 23, 1);
}

.color-red {
	color: rgba(250, 54, 100, 1);
}

.color-blue {
	color: rgba(116, 110, 203, 1);
}

.navbar {
	padding: 10px 0px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: -1px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

.breadcrumb {
	border-radius: 0;
	margin-bottom: 0;
	background: #fff;
	box-shadow: 0 6px 4px -5px #ddd;
	padding: 10px 20px;
}

.badge {
	padding: .4em .7em;
	border-radius: 0;
	font-weight: 400;
}

.progress {
	border-radius: 0;
	margin: 10px 0px 15px;
}

.progress-bar {
	opacity: 0.6;
}

.table td,
.table th {
	padding: .95rem;
}


form .row>[class^=col] {
	padding-top: .5rem !important;
	padding-bottom: .5rem !important;
	background-color: #fff !important;
	border: 0px !important;
}

.margin-l20 {
	color: #666;
    font-size: 0.85rem;
}

.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	font-size: 22px;
	color: #fff;
	background: #999;
	padding: 5px 10px;
}

.back-to-top:hover {
	color: #fff;
	background: #666;
	padding: 5px 10px;
}
#content {
	margin-bottom: 20px;
	transition: all 0.3s;
	width: 100%;
}
.text-muted {
	color: #6c757d!important;
	padding-top: 20px;
}
ul ul a {
	font-size: 0.9em;
	padding-left: 30px !important;
	background: #333;
}
.lorvens-box-shadow {
	border-radius: 0;
	border: 0;
	-webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
	background: #fff;
	margin-top: 20px;
}
.min-h200 {
	min-height: 200px;
}
.m-bottom10 {
	margin-bottom: 10px;
}
.unlink{
	font-size: 60px;
	color: red;
}
.lorvens-grid div[class*="col"]{
	padding: 10px 20px;
	background-color: rgba(165, 165, 165, .2);
	border: 1px solid #ffffff;
	text-align: center;
}
.media h5{
    font-size: 18px;
}
div[class*="col-"]{
	padding-right: 9px;
	padding-left: 9px;
}
div[class*="col-"] div[class*="col-"]{
	padding-right: 10px;
	padding-left: 10px;
}
.badge-danger, .bg-danger {
    background-color: #ef6e6e !important;
}
.badge-success, .bg-success {
    background-color: #22c6ab !important;
}
.badge-warning, .bg-warning {
    color: #fff;
    background-color: #FFAA2A !important;
}
/*=======================
 	Login and sign up
====================== */

.auth-bg {
	background: #ededed;
}

.auth-box {
	margin: 0 auto;
	text-align: center;
}

.auth-box .lorvens-box-shadow {
	padding: 20px;
}

.auth-box .form-control {
	/* border: 0px; */
	background: #efefef;
	padding: 14px;
	border-radius: 0px;
	border: 1px solid #efefef;
}

.custom-control-label::before,
.custom-control-label::after {
	top: 2px;
}

.custom-control-label::before {
	box-shadow: none !important;
}
.custom-checkbox .custom-control-label::before{
	border-radius: 0px;
}
.auth-footer-text {
	margin-top: 20px;
}

.auth-footer-text a {
	color: #007bff;
}


/*=======================
 	Tables
====================== */

.widget-area-2 .table-div {
	padding: 0px;
}
.lorvens-widget{
	margin-bottom: 20px;
}
/*=======================
 	Icons
====================== */

.font-awesome-row .icon-container {
	width: 30%;
}

.icon-section {
	padding-left: 0px;
}

.icon-container {
	width: 220px;
	padding-bottom: 1em;
	display: inline-block;
}

.icon-name {
	color: #666;
	margin-left: 15px;
	font-size: .8em;
	transition: .3s;
}


/*=======================
 	Loader
====================== */

.loading {
	background: #fff;
	position: fixed;
	z-index: 99999;
	width: 100%;
	height: 100%;
	top: 0;
}

.spinner {
	width: 40px;
	height: 40px;
	position: relative;
    top: 48%;
    margin: 0 auto;
    display: block;
}

.double-bounce1,
.double-bounce2 {
	background-color: #F44A38;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

/*=======================
 	Color Switcher
====================== */

#switcher {
	position: fixed;
	bottom: 45%;
	right: -130px;
	width: 130px;
	background-color: #404040;
	color: #ffffff;
	z-index: 9999;
	font-size: 15px;
	padding-bottom: 20px;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
	height: 80px;
}
#switcher.active {
	right: 0px;
}
#switcher p {
	color: #fff;
	bottom: -6px;
	position: absolute;
	left: 21px;
	font-size: 13px;
}
#switcher .theme-click {
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	line-height: 60px;
	color: #ffffff;
	font-size: 24px;
	background-color: #222;
	text-align: center;
	left: -60px;
	top: 0;
	cursor: pointer;
	z-index: 2;
}
#switcher .theme-default {
	width: 30px;
	height: 30px;
	background: #5DC560;
	margin: 15px 10px;
	position: absolute;
	border-radius: 50%;
	left: 0px;
	cursor: pointer;
}
#switcher .theme-blue {
	width: 30px;
	height: 30px;
	background: #1183E1;
	margin: 15px 10px;
	border-radius: 50%;
	position: absolute;
	left: 40px;
	cursor: pointer;
}
#switcher .theme-red {
	width: 30px;
	height: 30px;
	background: #F15044;
	margin: 15px 10px;
	border-radius: 50%;
	position: absolute;
	left: 80px;
	cursor: pointer;
}

/*=======================
 	Sidebar
====================== */

.wrapper {
	display: flex;
	align-items: stretch;
	background-color: #f1f1f1;
}

#sidebar {
	min-width: 250px;
	max-width: 250px;
	color: #ffffff;
	transition: all 0.3s;
	min-height: 100vh;
}


#sidebar.active {
	min-width: 80px;
	max-width: 80px;
}

#sidebar.active .sidebar-header .logo {
	display: none;
}

#sidebar.active .sidebar-header .minimal-logo {
	display: block;
}

#sidebar ul li a {
	text-align: left;
}

#sidebar.active ul li a {
	padding: 20px 10px;
	font-size: 0px;
	text-align: center;
}

#sidebar.active ul li a span {
	margin-right: 0;
	display: block;
	font-size: 20px;
	margin-bottom: 5px;
}

#sidebar.active ul ul a {
	padding: 10px !important;
	text-align: left;
	font-size: 12px;
}

#sidebar.active a[aria-expanded="false"]::before,
#sidebar.active a[aria-expanded="true"]::before {
	top: 45%;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}

#sidebar .sidebar-header {
	padding: 30px 20px;
}

#sidebar .sidebar-header .minimal-logo {
	display: none;
	margin: 5px 0px;
}

#sidebar ul.components>li {
	position: relative;
	margin: 2px 0;
}

#sidebar.active ul.components>li {
	position: relative;
}

#sidebar.active ul.components>li:hover {
	background: #333;
}

#sidebar.active ul.components>li .collapsing,
#sidebar.active ul.components>li .collapse {
	display: none;
}

#sidebar.active ul.components>li:hover .collapse {
	position: absolute;
	z-index: 3;
	left: 100%;
	top: 0%;
	box-shadow: none;
	min-width: 170px;
	display: block;
}

#sidebar ul li a {
	padding: 10px 10px 10px 25px;
	font-size: 13px;
	display: block;
	letter-spacing: 1px;
}

#sidebar ul li a:hover {
	color: #eee;
}

#sidebar ul li a i {
	margin-right: 10px;
}

#sidebar ul li.active>a,
#sidebar a[aria-expanded="true"] {
	color: #fff;
	background: #333;
}

#sidebar a[data-toggle="collapse"] {
	position: relative;
}

#sidebar a[aria-expanded="false"]::before,
#sidebar a[aria-expanded="true"]::before {
	content: '\e64b';
	display: block;
	position: absolute;
	right: 20px;
	font-family: 'themify';
	font-size: 0.6em;
	top: 40%;
}

#sidebar a[aria-expanded="true"]::before {
	content: '\e648';
}

#sidebarCollapse {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 30px;
	cursor: pointer;
	color: #777;
}

.nav-help {
	padding: 25px;
}

.nav-help h6 {
	margin: 20px 0px;
	letter-spacing: 1px;
}

#sidebar.active .nav-help {
	display: none;
}


/*=======================
 	Key Frames
====================== */

@-webkit-keyframes bounce {
	0%,
	100% {
		-webkit-transform: scale(0.5)
	}
	50% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.5);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}


/*=======================
 	Maps
====================== */

.map-box {
	margin: 0px;
}

.google-map {
	width: 100%;
	height: 300px;
}

.big-world-mill {
	height: 500px;
	margin-bottom: 20px;
}

.vmap-usa {
	height: 300px;
	margin-bottom: 20px;
}

/*=======================
 	Charts
====================== */
.chart-home{
	height: 255px;
	margin-bottom: 10px;
}
.chart-one{
	height: 300px;
}
.chart-two{
	height: 260px;
}
.chart-three{
	height: 400px;
}
.visit-quality{
	color: #5867c3;
}
.visit-price{
	color: #00c5dc;
}

/*=======================
 	Top Navigation
====================== */
.navbar-default .dropdown-toggle::after {
	display: none;
}

.navbar-default .ti-announcement,
.navbar-default .ti-user,
.navbar-default .ti-search {
	padding: 10px;
	border-radius: 50%;
	color: #fff;
}
.navbar-default .ti-announcement::after {
	content: "";
	width: 15px;
	height: 15px;
	-webkit-animation: bounce 1.0s infinite ease-in-out;
	animation: bounce 1.0s infinite ease-in-out;
	background: rgba(0, 0, 0, .6);
	position: absolute;
	top: 12px;
	border-radius: 50%;
}

.navbar-default .ti-user {
	background: rgba(134, 196, 23, 1);
	box-shadow: 0 0 0 5px rgba(134, 196, 23, .1);
}

.navbar-default .ti-announcement {
	background: rgba(250, 54, 100, 1);
	box-shadow: 0 0 0 5px rgba(250, 54, 100, .1);
}

.navbar-default .ti-search {
	background: rgba(253, 165, 31, 1);
	box-shadow: 0 0 0 5px rgba(253, 165, 31, .1);
}

.notifications .dropdown-item,
.profile .dropdown-item {
	font-size: 13px;
	padding: 15px;
	color: #888;
	border-bottom: 1px solid #fafafa;
}

.dropdown-menu.notifications,
.dropdown-menu.profile {
	padding: 0;
	right: 20px;
	left: auto;
	min-width: 200px;
}

.dropdown-item.active,
.dropdown-item:active {
	background: #fff;
}

.dropdown-menu.notifications .dropdown-item:nth-child(odd) [class^="ti-"],
.dropdown-menu.profile .dropdown-item:nth-child(odd) [class^="ti-"] {
	margin-right: 10px;
	color: #FA3664;
}

.dropdown-menu.notifications .dropdown-item:nth-child(even) [class^="ti-"],
.dropdown-menu.profile .dropdown-item:nth-child(even) [class^="ti-"] {
	margin-right: 10px;
	color: #076AD0;
}

.dropdown-menu.notifications h5,
.dropdown-menu.profile h5 {
	padding: 15px;
	background: #555;
	color: #fff;
	font-weight: lighter;
	letter-spacing: 1px;
	margin-bottom: 0;
}

.dropdown-menu.notifications:before,
.dropdown-menu.profile:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	bottom: 100%;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #555;
	border-width: 9px;
	left: 50%;
}

.dropdown-menu.notifications:before {
	margin-left: 14px;
}

.dropdown-menu.profile:before {
	margin-left: 64px;
}
.navbar .nav .nav-item:last-child .nav-link{
	padding-right: 7px;
}

/*=======================
 	Modal Popup
====================== */
.modal.show .modal-dialog{
	margin-top: 70px;
}
.modal-content{
	border-radius: 0px;
}
.modal-lorvens .modal-header {
	background: #333;
	color: #fff;
	border-radius: 0;
	letter-spacing: 1px;
	position: relative;
}

.modal-lorvens .modal-header .modal-title {
	margin-bottom: 0;
	line-height: 1.5;
	font-weight: 100;
	letter-spacing: 2px;
}

.modal-lorvens .modal-header .ti-close {
	top: 37%;
	position: absolute;
	right: 14px;
	cursor: pointer;
}

.modal-lorvens .form-control {
	width: 100%;
	padding: 12px;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #ddd;
}

.modal-lorvens .btn-lorvens,
.modal-lorvens .btn-lorvens:active {
	color: #fff;
	outline: none;
	border-radius: 0;
	cursor: pointer;
	margin: 20px auto 0px;
	display: block;
	border: none;
	padding: 15px;
	box-shadow: none;
}

.modal-lorvens .btn-lorvens:hover {
	opacity: .8;
}

.modal-body{
	color: #666;
}
.modal-header{
	background: #f1f1f1;
}

/*=======================
 	Widget Boxs
====================== */

h3.block-title {
	font-size: 20px;
    color: #3e5569;
    border: 1px solid #eee;
    margin: 20px 0 0;
    padding: 5px 15px;
    background: #fff;
    border-radius: 5px;
    font-weight: bold;
}

.widget-area {
	background: #fff;
	border-radius: 5px;
}

.widget-area .numeric {
	font-size: 30px;
	letter-spacing: 1px;
}

h4.wiget-title {
	font-size: 13px;
	letter-spacing: .5px;
}

.alert {
	border-radius: 0px;
	border: 0px;
}
.alert-warning{
	color: #F15044;
}
.widget-left {
	width: 35%;
	display: inline-block;
	vertical-align: 11px;
	font-size: 30px;
	text-align: center;
	color: #777;
}

.widget-right {
	width: 62%;
	display: inline-block;
	padding: 20px 0;
}

.widget-area-2 {
	background: #fff;
	margin-top: 20px;
	padding: 20px;
	padding-bottom: 2px;
	border-radius: 5px;
}

.widget-title {
	font-size: 22px;
    padding-bottom: .5rem;
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
}

.widget-morris {
	padding: 20px;
}

/*=======================
 	Cards
====================== */

.card,
.card-img-top {
	border-radius: 0px;
}
.card-area{
	border-radius: 5px;
	border: 0;
	-webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
	background: #fff;
	margin-top: 20px;
}
.card-area .widget-title, .widget-morris .widget-title{
	margin-left: 0px;
	padding-top: 0px;
}
.card.card-no-border {
    border: 0px;
}
.card.card-no-border .card-header{
    border-bottom: 0px;
}
.card-header:first-child {
	border-radius: 0px;
}

.card-header.lorvens-card-header {
	background-color: rgba(75, 75, 75, 1);
	color: #fff;
}

.card-header img {
	border-radius: 50%;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .5);
	margin: 20px auto;
}

.card-header span.ti-more {
	position: absolute;
	font-size: 25px;
	right: 10px;
	top: 20px;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.card.bg-secondary .card-text,
.card.bg-success .card-text,
.card.bg-info .card-text,
.card.bg-dark .card-text,
.card.bg-danger .card-text,
.card.bg-primary .card-text {
	color: #ffffff;
}

.card .text-muted {
	font-size: 13px;
}

.card .text-white .text-muted {
	color: #ffffff !important;
}
.card-body .btn{
	margin-bottom: 0px;
}

/*=======================
 	Tabs
====================== */
.bd-example-tabs .tab-content>.active {
    padding: 20px 10px;
}
.nav-tabs .nav-link,
.nav-pills .nav-link {
	border-radius: 0px;
}
.tab-pane p{
	margin-bottom: 0px;
}
.copyright-text {
	color: #fff;
	font-size: 15px;
}


/*=======================
 	Buttons
====================== */

.btn {
	border-radius: 0;
	margin-bottom: 5px;
}

.btn.focus,
.btn:focus {
	box-shadow: none !important;
}
.home .widget-title {
    font-size: 22px;
    padding-bottom: .5rem;
    margin-bottom: 0px;
    border-bottom: 0px solid #eeeeee;
}
.button-btn-block {
	margin-top: 10px;
}

.btn-outline-light {
	color: #ddd;
	border-color: #ddd;
}

.lorvens-widget .row {
	margin: 0px;
}
.btn-hero-primary {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .0625rem;
	font-weight: 700;
	padding: .625rem 1.5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: 0rem;
	border: none;
}

.btn-hero-secondary.disabled,
.btn-hero-secondary:disabled {
	color: #fff;
	background-color: #111;
}
.btn:not(:disabled):not(.disabled):active{
	background: #343a40;
}
/*=======================
 	Progress Bar
====================== */

.progress-status span {
	margin-left: 0px;
}
.width-pb10{
	width: 10%;
}
.width-pb15{
	width: 15%;
}
.width-pb25{
	width: 25%;
}
.width-pb30{
	width: 30%;
}
.width-pb50{
	width: 50%;
}
.width-pb75{
	width: 75%;
}
.width-pb100{
	width: 100%;
}
.height-pb1{
	height: 1px;
}
.height-pb20{
	height: 20px;
}
/*=======================
 	Form Elements
====================== */

.form-control {
	border-radius: 0px;
	border-color: #ddd;
}
input.form-control {
	padding: .59rem .75rem;
}
.form-control:focus {
	color: #495057;
	background-color: #fff;
	outline: 0;
	box-shadow: none;
}

.text-round {
	float: left;
	margin-top: 10px;
	margin-right: 15px;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 50%;
	line-height: 40px;
	font-weight: bold;
	color: #ffffff;
}

.my-contacts li:nth-child(odd) .text-round {
	background-color: #555;
}

.my-contacts::-webkit-scrollbar {
	width: 10px;
	background-color: #dddddd;
}

.my-contacts::-webkit-scrollbar-thumb {
	background-color: #555555;
	border-radius: 10px;
}

/*=======================
 	Typography
====================== */
.Headings-tags {
	margin-left: 20px;
}

.button-btn-block {
	margin-top: 10px;
}


/*=======================
 	Accordion
====================== */
#accordion .card{
	border: 1px solid #ffffff;
	margin-bottom: .5rem;
}
 #accordion .card-body{
	 border: 1px solid #eeeeee;
 }
 #accordion .accordion-header {
	background-color: #555;
	padding: 7px;
}
#accordion .accordion-header h5{
	margin-bottom: 0px;
	color: #ffffff;
	font-size: 15px;
	padding: 5px;
	cursor: pointer;
}
#accordion_light .card{
	border: 1px solid #ffffff;
	margin-bottom: .5rem;
}
 #accordion_light .card-body{
	 border: 1px solid #eeeeee;
 }
 #accordion_light .accordion-header {
	background-color:#fff;
	padding: 7px;
	background: #f1f1f1;
}
#accordion_light .accordion-header h5{
	margin-bottom: 0px;
	font-size: 15px;
	padding: 5px;
	cursor: pointer;
}


/*=======================
 	Pagination
====================== */

.pagination .page-link:focus {
	box-shadow: none;
}

.pagination .page-item.active .page-link {
	z-index: 1;
	color: #fff;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
	border-radius: 0px;
}

/*=======================
 	FAQ
====================== */
.faq-block .block-content{
	border:1px solid #eee;
	border-top: 0px;
}

#faq1 .block-header {
    border: 1px solid #eee;
}

#faq1 .block-header-default{
	background-color: #ffffff;
}

#faq2 .block-header{
	color: #ffffff;
}

.content-heading {
	padding-bottom: .5rem;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.75;
	border-bottom: 1px solid #e6ebf4;
}

.block-header-default {
	background-color: #f9fafc;
}

.font-w600 {
	font-weight: 600!important;
}
.block-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: .75rem 1.25rem;
	transition: opacity .25s ease-out;
}

.block-content {
	transition: opacity .25s ease-out;
	width: 100%;
	margin: 0 auto;
	padding: 1.25rem 1.25rem 1px;
	overflow-x: visible;
}

.block-title {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 1.75rem;
	margin: 0;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.75;
}

.block-title-new {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 1.75rem;
	margin: 0;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.75;
}

.bg-body-light {
	background-color: #f9fafc!important;
	padding-bottom: 20px;
}

.block.block-bordered {
	border: 1px solid #e6ebf4;
	box-shadow: none;
}

.pricing-content {
    min-height: 280px;
}
.block {
	display: block;
}

.fa-check:before {
	content: "\f00c";
}

a.block.block-link-pop:hover {
	opacity: 1;
}
